In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from itertools import combinations

In [2]:
db_raw = pd.read_excel('salesCG201718.xls', header=None)

In [3]:
db_data_month = db_raw.drop([0,1], axis=0)
db_data_month['month'] = db_data_month[0].dt.month
sales_month = db_data_month.groupby('month').sum()

In [4]:
shops = db_raw.transpose()[[0,1]].drop([0], axis=0)
shops.rename(columns = {0:'shop', 1:'product'}, inplace=True)

for i in range(1,21):
    shops['shop'][2*i] = shops['shop'][2*i-1]

In [5]:
shops

   shop product
1    S1      P1
2    S1      P2
3    S2      P1
4    S2      P2
5    S3      P1
6    S3      P2
7    S4      P1
8    S4      P2
9    S5      P1
10   S5      P2
11   S6      P1
12   S6      P2
13   S7      P1
14   S7      P2
15   S8      P1
16   S8      P2
17   S9      P1
18   S9      P2
19  S10      P1
20  S10      P2
21  S11      P1
22  S11      P2
23  S12      P1
24  S12      P2
25  S13      P1
26  S13      P2
27  S14      P1
28  S14      P2
29  S15      P1
30  S15      P2
31  S16      P1
32  S16      P2
33  S17      P1
34  S17      P2
35  S18      P1
36  S18      P2
37  S19      P1
38  S19      P2
39  S20      P1
40  S20      P2

In [6]:
tr_sales_month = sales_month.transpose()
monthly_sales_per_shop = pd.concat([shops, tr_sales_month], axis=1).set_index(['shop', 'product']).transpose()

In [7]:
av_daily_per_month = monthly_sales_per_shop/(6*4)

In [8]:
rounded_av_daily_per_month = av_daily_per_month.apply(np.round)

In [9]:
for i in range(1,13,1):
    monthly_per_month = av_daily_per_month.transpose()[i]

In [10]:
for num_s in range(1,21,1):
    rounded_av_daily_per_month[('S'+str(num_s), 'P1')] = rounded_av_daily_per_month[('S'+str(num_s), 'P1')]*0.8
    rounded_av_daily_per_month[('S'+str(num_s), 'P2')] = rounded_av_daily_per_month[('S'+str(num_s), 'P2')]*0.4

In [11]:
vol_av_daily_per_month = rounded_av_daily_per_month.transpose().groupby('shop').sum().reindex(monthly_per_month.index.get_level_values(0)).drop_duplicates().copy()

In [12]:
vol_av_daily_per_month.rename(index={'S1': 1, 'S2': 2, 'S3': 3, 'S4': 4, 'S5': 5, 'S6': 6, 'S7': 7, 'S8': 8, 'S9': 9,'S10': 10, 'S11': 11, 'S12': 12, 'S13': 13, 'S14': 14, 'S15': 15, 'S16': 16, 'S17': 17, 'S18': 18, 'S19': 19, 'S20': 20}, inplace=True)

In [13]:
vol_av_daily_per_month

      1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0   10.0  11.0  12.0
shop
1      4.4   4.0   4.8   6.8   6.4   6.4   6.4   6.8   5.6   5.6   3.6   2.8
2      4.0   4.0   4.8   6.0   7.2   4.8   6.4   6.8   4.8   5.6   4.0   4.0
3      5.2   6.0   6.8   8.8   8.0   8.0   8.8   8.0   7.6   7.2   5.6   4.8
4      6.0   5.2   7.6   7.2   8.8   8.8   7.2   8.0   6.8   6.4   4.8   4.4
5      4.0   4.8   6.8   5.2   7.2   5.6   6.4   7.6   4.8   5.2   4.0   3.2
6      6.0   6.4   6.0   7.6   7.2   8.8  11.2   9.2   7.6   6.8   5.6   4.8
7      9.2   8.0  11.6  11.2  10.8  10.4  12.4  11.2  11.2  11.2   7.2   6.0
8      7.2   7.6  10.0  12.8  18.8  12.8  13.6  12.4  12.0  10.0   8.0   6.8
9     10.4   9.2  13.6  14.8  16.4  16.0  16.0  11.6  13.2  10.4   8.0   6.4
10     7.6   7.6   7.2   9.6  12.8   9.6  11.2   9.6  10.4   8.8   6.0   6.0
11     8.0  10.0   9.6  12.4  11.6  13.6  14.8  12.8  10.8   8.4   8.0   5.6
12     9.6   7.6  10.4   9.6  14.8  12.0  13.2  14.8  10.4   9.6   8.0   6.0
13    10.0   9.2  10.4  10.4  12.8  14.4  12.8   9.6  11.6  11.6   6.0   6.4
14     9.6  10.0  10.4  14.8  13.2  13.6  17.2  11.6  11.6  12.4  10.4   8.0
15     8.4   8.8  11.2  12.4  13.2  15.2  12.4  12.8  11.6  10.4   8.0   6.8
16    11.2  12.4  15.2  17.2  16.4  15.2  18.0  18.0  14.8  11.6  10.8   9.2
17     8.8   6.8   9.6  10.4   8.0  12.0  11.2  10.4   7.6   8.0   6.4   6.0
18     5.6   5.2   7.6   9.6   7.2   8.0   8.0   7.6   6.8   6.8   5.6   3.6
19     4.4   4.4   5.6   5.2   6.4   6.4   4.8   5.2   5.2   4.8   4.4   3.2
20     5.6   5.2   8.4   9.6   8.8   7.2   8.0   8.4   8.4   6.8   4.4   4.4

In [14]:
def rSubset(shops, r):
  
    # return list of all subsets of length r
    # to deal with duplicate subsets use 
    # set(list(combinations(shops, r)))
    return list(combinations(shops, r))

In [15]:
list_of_sets = pd.DataFrame()

if __name__ == "__main__":
    shops = vol_av_daily_per_month.index #all the shop names
    
    for r in range(0, 5): #the max amount of shops per set is 4
        for i in range(0,len(rSubset(shops, r))):
            vol_sum = 0
            for j in range(0,r):
                vol_sum = vol_sum + vol_av_daily_per_month[1][rSubset(shops, r)[i][j]] #value of shop for month 1 (januari)
        
            if vol_sum <= 20: #the max value of one truck is 20 m3
                temp = pd.DataFrame(
                    {'subset': str(rSubset(shops, r)[i])}, index=[0]
                )
                list_of_sets = pd.concat([list_of_sets, temp])

In [16]:
list_of_sets = list_of_sets.iloc[1: , :].reset_index()

In [17]:
list_of_sets

     index           subset
0        0             (1,)
1        0             (2,)
2        0             (3,)
3        0             (4,)
4        0             (5,)
..     ...              ...
668      0   (4, 5, 18, 19)
669      0   (4, 5, 19, 20)
670      0   (5, 6, 18, 19)
671      0   (5, 6, 19, 20)
672      0  (5, 18, 19, 20)

[673 rows x 2 columns]

# Combining sets

In [18]:
matches = vol_av_daily_per_month.index #we need this one without the '' on top of the lettres

In [19]:
matches

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
            20],
           dtype='int64', name='shop')

In [21]:
db = pd.DataFrame([0]) #creating a dataframe with the right structure
n = 3 #choosing which shop

for i in range(0,len(list_of_sets)):
    db[i] = pd.DataFrame([list_of_sets['subset'][i].find(matches[str(n)])]) #find which sets contain this shop
    
tr = db.transpose().rename(columns={0:'subset'}) #creating a true false list for each set, the find function works differently
tr[tr['subset'] < 0] = False
tr[tr['subset'] > 0] = True
tr

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
contains = pd.DataFrame(list_of_sets[tr]['subset'].dropna()) #list of combinations with this shop
contains['subset']

In [22]:
list_of_sets_per_shop = pd.DataFrame() #creating a dataframe to store the lists into

for n in range(0,20):

    for i in range(0,len(list_of_sets)):
        db[i] = pd.DataFrame([list_of_sets['subset'][i].find(matches[n])]) #this still doesn't work, it sees 11, 12 etc as 1 and 20 as 2
    
    
    tr = db.transpose().rename(columns={0:matches[n]})
    tr[tr[matches[n]] < 0] = False
    tr[tr[matches[n]] > 0] = True
    
    #contains = pd.DataFrame(list_of_sets[tr]['subset'].dropna())
    
    list_of_sets_per_shop = pd.concat([list_of_sets_per_shop, tr[matches[n]]], axis=1, join="outer")

TypeError: must be str, not numpy.int64

In [ ]:
list_of_sets_per_shop #a list with for each shop the sets it is in

In [ ]:
comb = []
for n in range(0,20):
    for i in range(len(list_of_sets_per_shop)-1,0,-1): 
        filter = (list_of_sets_per_shop.iloc[[i]] == True).any() #find which shops are in this i combination
        columns = list_of_sets_per_shop.loc[:,filter].columns
        check = list_of_sets_per_shop[columns].iloc[comb] #check if these shops are already in the list up until now
        
        if ((list_of_sets_per_shop[matches[n]][i] == True) and (True not in check.values)): #return for each i the shop for which it is true
            comb = comb + [i]
             #this is a nice list maybe I can use the True and False with these indexes to identify which are already in there
    
    
comb.sort()
super_comb = list_of_sets.iloc[comb] #this outputs only one list of combinations because then all the shops are present
#but we need more different combinations so it has to continue with a different list once this one has been filled

In [ ]:
super_comb

# Distances

In [ ]:
df_loc = pd.read_excel("locations.xls")
df_loc

In [ ]:
comb = str() #creating empty string to fill
list_of_comb = pd.DataFrame() #creating empty dataframe to fill

for n in range(0, len(matches)):
    for i in range(0,len(list_of_sets)): #here it goes through all the combinations for each shop
        
        #if the shop in this combination are not yet in the list of combinations add 
        #for this make a matrix of the sets in the list and the shops that are already in the combination
        if list_of_sets_per_shop['S'+str(n+1)][i] not in 
            print(i) #print combination 
            #maybe make a sperate list of the sets and off the shops already in the sets
        
        
        (all(x in list_of_sets['subset'][i] for x in matches[n]) and any(x not in list_of_comb['subset'][i] for x in matches[:n-1])):
            comb = comb + ' ' + list_of_sets['subset'][i]
            temp = pd.DataFrame(
                {'combinations': str(comb)}, index=[[n, i]]
            )
    list_of_comb = pd.concat([list_of_comb, temp])